@font-face {
  font-family: ClashGrotesk-Variable;
  src: url(..//fonts/ClashGrotesk-Variable.ttf);
}
@font-face {
  font-family: HeadingNowTrial-bold;
  src: url(..//fonts/HeadingNowTrial-56Bold.ttf);
}
body {
  box-sizing: border-box;
  font-family: ClashGrotesk-Variable;
  background: #000;
  color: #fff;
  transition: all ease-in-out 0.5s;
}
* {
  padding: 0px;
  margin: 0px;
}
p {
  letter-spacing: 0.03em;
  color: #ffffff;
  font-weight: 300;
  font-size: 19px;
  line-height: 34px;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: none;
  color: #fff;
}
ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.title-width {
  width: 50%;
  margin: auto;
}
/* click-btn */
.Click-btn a {
  background: linear-gradient(180deg, #cdb87d 0%, #a88b5c 105.15%);
  box-shadow: inset 0px -8px 4px rgba(0, 0, 0, 0.2);
  clip-path: polygon(
    20% 0%,
    94% 0%,
    100% 20%,
    100% 100%,
    80% 100%,
    6% 100%,
    0% 80%,
    0 0
  );
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 12px 20px;
  height: 50px;
  max-height: 50px;
  min-height: 50px;
}
.Click-btn {
  background-color: transparent;
  border: none;
  position: relative;
  margin-top: 10px;
}
.Click-btn::after {
  content: "";
  position: absolute;
  background: radial-gradient(
    50.02% 49.92% at 49.36% 45.71%,
    #ff9800 0%,
    #ef8e00 2%,
    #bd7100 9%,
    #905600 17%,
    #693f00 25%,
    #492b00 34%,
    #2e1b00 43%,
    #1a0f00 53%,
    #0b0700 64%,
    #030200 78%,
    #000000 100%
  );
  background: radial-gradient(
    50.03% 49.56% at 49.33% 49.12%,
    #fff5e7 30%,
    #ffce86 32%,
    #ffb13e 33%,
    #ff9800 34%,
    #f69200 35%,
    #c87700 38%,
    #9d5d00 41%,
    #774700 44%,
    #573400 47%,
    #3b2300 51%,
    #251600 55%,
    #140c00 60%,
    #090500 67%,
    #020100 76%,
    #000000 100%
  );
  background: radial-gradient(
    50.06% 50.13% at 49.1% 59.23%,
    #fff5e7 30%,
    #ffce86 32%,
    #ffb13e 33%,
    #ff9800 34%,
    #f69200 35%,
    #c87700 38%,
    #9d5d00 41%,
    #774700 44%,
    #573400 47%,
    #3b230000 51%,
    #3b230000 55%,
    #3b230000 60%,
    #3b230000 67%,
    #3b230000 76%,
    #3b230000 100%
  );
  top: -15px;
  width: 100%;
  height: 10px;
  left: 0;
  z-index: 9999999999999;
  background-blend-mode: screen;
  mix-blend-mode: screen;
  transition: all ease-in-out 0.5s;
}
.Click-btn:hover:after {
  width: 110%;
}
/* play-btn */

.play-btn a {
  background: linear-gradient(180deg, #701714 0%, #440508 120%);
  box-shadow: inset 0px -8px 4px rgba(0, 0, 0, 0.2);
  clip-path: polygon(
    20% 0%,
    94% 0%,
    100% 20%,
    100% 100%,
    80% 100%,
    6% 100%,
    0% 80%,
    0 0
  );
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 15px 40px;
  height: 60px;
  max-height: 60px;
  min-height: 60px;
}
.play-btn {
  background-color: transparent;
  border: none;
  position: relative;
  margin-top: 10px;
}
.play-btn::after {
  content: "";
  position: absolute;
  background: radial-gradient(
    50.06% 50.13% at 49.1% 59.23%,
    #fff5e7 30%,
    #ffce86 32%,
    #ffb13e 33%,
    #ff9800 34%,
    #f69200 35%,
    #c87700 38%,
    #9d5d00 41%,
    #774700 44%,
    #573400 47%,
    #3b2300 51%,
    #25160000 55%,
    #140c0000 60%,
    #00000000 67%,
    #02010000 76%,
    #2e2e2e00 100%
  );
  top: -20px;
  width: 100%;
  height: 10px;
  left: 0;
  z-index: 9999999999999;
  background-blend-mode: screen;
  mix-blend-mode: screen;
  transition: all ease-in-out 0.5s;
}
.play-btn:hover:after {
  width: 110%;
}
.heading-title {
  text-align: center;
}
.heading-title h1 {
  font-family: HeadingNowTrial-bold;
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 0px;
  color: #fff;
  margin-bottom: 0px;
  background: linear-gradient(360deg, #ffffff 20%, #939598 50%, #ffffff 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 200ms ease;
  animation: ocean 2000ms ease alternate infinite;
  -webkit-text-stroke-width: thin;
  letter-spacing: 2px;
}
.heading-title p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #858182;
  margin-top: 15px;
}
/* header */
.header {
  position: absolute;
  width: 100%;
  z-index: 999;
}
.header .header-inner {
  position: relative;
  z-index: 9;
}

.head-dec {
  background-image: url(..//img/headerbg.png);
  padding: 20px 30px 40px;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.head-dec .header-wrap p {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 3px;
}
.head-dec .brand-logo h1 {
  font-family: HeadingNowTrial-bold;
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 0px;
  color: #fff;
  margin-bottom: 0px;
  background: linear-gradient(
      to right,
      rgba(255, 215, 255, 0) 0%,
      rgba(225, 255, 255, 0.5) 20%,
      rgba(255, 255, 255, 0) 61%
    ),
    linear-gradient(
      rgb(255, 255, 255) 50%,
      rgb(224, 246, 255) 50%,
      rgb(147, 149, 152) 50%
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 200ms ease;
  animation: ocean 2000ms ease alternate infinite;
}
.head-web {
  display: block;
}
.head-mobile {
  display: none;
}
.head-mobile .navbar-toggler svg {
  width: 25px;
  fill: #fff;
}
.head-mobile ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 20px;
}
.head-mobile ul li {
  margin-bottom: 20px;
}
/* banner-section */
.banner-section {
  background-image: url(..//img/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 120vh;
  padding: 220px 0px 0px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.banner-section::before {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url(..//img/bg-shadow.png);
  z-index: 9;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.banner-section .banner-section-inner {
  position: relative;
  z-index: 99;
}
.banner-section .banner-section-inner h1 {
  font-size: 72px;
}
.banner-section .banner-section-inner p {
  color: rgba(255, 255, 255, 1);
  margin-bottom: 48px;
}
.banner-section .banner-section-inner button {
  box-shadow: 0px 100px 100px #000000, inset 0px -8px 4px rgba(0, 0, 0, 0.2);
}
/* available-sites */
.available-sites {
  padding: 20px 0px 50px;
}
.available-sites .heading-title p {
  margin-bottom: 40px;
}
/* books-wrap-section */
.books-wrap-section {
  padding: 60px 0px;
  position: relative;
  z-index: 99;
}
.books-wrap-section .heading-title {
  position: relative;
  z-index: 9;
}
.books-wrap-section .books-wrap-inner {
  position: relative;
  margin-top: -80px;
}
.books-wrap-section .books-wrap-inner .books-bg-one {
  position: relative;
}
.books-wrap-section .books-wrap-inner .books-bg-one::before {
  content: "";
  position: absolute;
  background-image: url(..//img/portrait2.png);
  width: 46%;
  height: 45%;
  top: 30%;
  left: 26%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: animName 10s linear infinite;
  transition: all ease-in-out 0.5s;
}
.books-wrap-section .books-wrap-inner .books-bg-one::after {
  content: "";
  position: absolute;
  background-image: url(..//img/portrait3.png);
  width: 55%;
  height: 55%;
  bottom: 30px;
  left: 22%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes animName {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(100deg);
  }
}

.books-wrap-dec {
  padding-top: 0;
  position: relative;
  margin-top: -130px;
  z-index: 9;
  text-align: center;
  padding-top: 90px;
}
.books-wrap-dec::before {
  content: "";
  position: absolute;
  background-image: url(..//img/punter-shadow.png);
  background-color: #000;
  width: 100%;
  height: 140px;
  filter: blur(40px);
  z-index: -1;
  left: 0;
  top: 0;
}
.books-wrap-dec .books-wrap-dec-inner {
  width: 45%;
  margin: auto;
}
.books-wrap-dec .books-wrap-dec-inner p {
  margin-bottom: 40px;
}
/* customer-support */
.customer-support {
  margin-top: -250px;
  overflow: hidden;
}
.customer-support .bg-img {
  height: 130vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-image: url(..//img/Group\ 160.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.customer-support .bg-img .bg-inner {
  margin-top: 10%;
}
.customer-support .support-dec {
  padding: 100px 0px;
  position: relative;
  text-align: start;
}
.customer-support .support-dec::before {
  content: "";
  position: absolute;
  background-image: url(..//img/Arrow.png);
  width: 100%;
  height: 160px;
  background-size: contain;
  background-repeat: no-repeat;
  bottom: -25px;
  left: 330px;
}
.customer-support .support-dec h1 {
  color: #fff;
  margin-bottom: 10px;
}
.customer-support .support-dec p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.customer-support .support-number {
  text-align: center;
}
.customer-support .support-number .Click-btn a {
  padding: 15px 30px;
  font-size: 18px;
}
.customer-support .support-number .Click-btn::after {
  content: "";
  position: absolute;
  top: -19px;
}

/* ids-section */
.ids-section {
  padding-top: 70px;
  background-image: url(..//img/bg-dots.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  width: 100%;
}

.ids-section::before {
  content: "";
  position: absolute;
  left: 0px;
  top: -200px;
  background-image: url(..//img/ids1.png);
  width: 30%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.ids-section::after {
  content: "";
  position: absolute;
  right: 0px;
  top: -200px;
  background-image: url(..//img/ids2.png);
  width: 38%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.ids-inner {
  position: relative;
  z-index: 999;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.ids-inner .heading-title p {
  margin-bottom: 50px;
}
.ids-inner .ids-wrap .ids-inner-wrap {
  text-align: center;
  cursor: pointer;
}
.ids-inner .ids-wrap .ids-inner-wrap h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 0px;
}
.ids-inner .ids-wrap .chat-whatsapp {
  text-align: center;
  margin-top: 60px;
}
/* bonus-section */
.bonus-section {
  padding-top: 180px;
}
.bonus-section .bonus-inner {
  background-image: url(..//img/touchbg.png);
  padding: 60px 0px;
  position: relative;
  background-repeat: no-repeat;
}
.bonus-section .bonus-inner img {
  position: absolute;
  filter: gray; /* IE5+ */
  -webkit-filter: grayscale(1);
  -webkit-transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.bonus-section .bonus-inner img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}
.bonus-section .bonus-inner .bonus-bg-left {
  left: 30px;
  top: -120px;
}
.bonus-section .bonus-inner .bonus-bg-right {
  top: -130px;
  right: 0px;
}
.bonus-section .bonus-inner .bonus-dec {
  text-align: center;
  position: relative;
  z-index: 9;
}
.bonus-section .bonus-inner .bonus-dec p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.bonus-section .bonus-inner .bonus-dec h1 {
  margin-bottom: 50px;
}
/* customer-care-section */
.customer-care-section .customer-wrap-main {
  position: relative;
  overflow: hidden;
}
.customer-care-section .customer-wrap-main .customer-dec-wrap {
  width: 100%;
  background-image: url(..//img/touchbg.png);
  background-repeat: no-repeat;
}
.customer-dec-wrap .customer-btn button {
  position: absolute;
  background: linear-gradient(180deg, #0d5a4a 0%, #082c29 120%);
  box-shadow: inset 0px -8px 4px rgba(0, 0, 0, 0.2);
  padding: 10px 70px;
  border: none;
  font-weight: 500;
  font-size: 21px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #ffffff;
  transform: rotate(-43deg);
  top: 45px;
  left: -55px;
}
.customer-dec-wrap .customer-btn button::after {
  content: "";
  position: absolute;
  background: radial-gradient(
    50.02% 49.92% at 49.36% 45.71%,
    #ff9800 0%,
    #ef8e00 2%,
    #bd7100 9%,
    #905600 17%,
    #693f00 25%,
    #492b00 34%,
    #2e1b00 43%,
    #1a0f00 53%,
    #0b0700 64%,
    #030200 78%,
    #000000 100%
  );
  background: radial-gradient(
    50.03% 49.56% at 49.33% 49.12%,
    #fff5e7 30%,
    #ffce86 32%,
    #ffb13e 33%,
    #ff9800 34%,
    #f69200 35%,
    #c87700 38%,
    #9d5d00 41%,
    #774700 44%,
    #573400 47%,
    #3b2300 51%,
    #251600 55%,
    #140c00 60%,
    #090500 67%,
    #020100 76%,
    #000000 100%
  );
  background: radial-gradient(
    50.06% 50.13% at 49.1% 59.23%,
    #fff5e7 30%,
    #ffce86 32%,
    #ffb13e 33%,
    #ff9800 34%,
    #f69200 35%,
    #c87700 38%,
    #9d5d00 41%,
    #774700 44%,
    #573400 47%,
    #3b2300 51%,
    #00000000 55%,
    #00000000 60%,
    #00000000 67%,
    #00000000 76%,
    #00000000 100%
  );
  height: 15px;
  left: 35px;
  z-index: 9999999999999;
  background-blend-mode: screen;
  mix-blend-mode: screen;
  transition: all ease-in-out 0.5s;
  width: 190px;
  background-repeat: no-repeat;
  top: -9px;
  background-blend-mode: screen;
  mix-blend-mode: screen;
}
.customer-dec-wrap .heading-title {
  text-align: start;
  padding: 50px 0px 50px 200px;
  position: relative;
}
.customer-dec-wrap .heading-title img {
  position: absolute;
  top: 38%;
  left: 90px;
}
.customer-dec-wrap .heading-title h3 {
  font-weight: 500;
  font-size: 33px;
  line-height: 44px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 15px;
}
.customer-dec-wrap .contact-number {
  text-align: center;
}
.customer-dec-wrap .contact-number .Click-btn a svg {
  width: 22px;
  fill: #fff;
  margin-right: 10px;
}
/* .customer-dec-wrap .contact-number .Click-btn a {
  font-size: 20px;
  padding: 15px 30px;
}
.customer-dec-wrap .contact-number .Click-btn::after {
  content: "";
  position: absolute;
  top: -20px;
} */
/* slider */
.slider-section {
  padding: 100px 0px 120px;
  position: relative;
  overflow: hidden;
}
.slider-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: -1;
  background: url(..//img/bg-dots.png) 0 0 repeat;
  transform: rotate(183deg);
  background-size: contain;
}
.slider-section .heading-title {
  margin-bottom: 40px;
}
.slide-main {
  position: relative;
  height: auto;
  padding: 11px 0 16px;
  margin: 0 auto;
  text-align: center;
}

.dg-container {
  position: relative;
  width: 100%;
  height: 500px;
}

.dg-wrapper {
  width: 410px;
  height: 350px;
  margin: 0 auto;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.dg-wrapper a {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.dg-wrapper a:first-child {
  z-index: 2;
}

.dg-wrapper a img {
  display: block;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.dg-wrapper a.dg-transition {
  transition: all 0.5s ease-in-out;
}

.dg-wrapper a.dg-transition-fast {
  transition: all 0.2s ease-in-out;
}

.dg-container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 50%;
}
.dg-container nav svg {
  width: 70px;
  height: 70px;
  fill: #fff;
  background: rgb(255 255 255 / 15%);
  padding: 23px;
  border-radius: 50%;
  cursor: pointer;
}

.dg-container nav span:hover {
  opacity: 1;
}

.dg-container nav span.dg-next {
  background-position: top right;
  margin-left: 10px;
}

.dg-container #lightButton2 {
  bottom: 20px;
}

.dg-container .button {
  display: none;
  position: relative;
  z-index: 5;
}

/* footer-section */
.footer-section {
  position: relative;
  padding: 120px 0px 0px;
  position: relative;
  overflow: hidden;
}
.footer-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(..//img/footerbg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0px;
  left: 0px;
  filter: gray;
  -webkit-filter: grayscale(1);
  z-index: -1;
}
.footer-section .footer-inner .footer-list {
  width: 80%;
}
.footer-section .footer-inner h3 {
  font-family: HeadingNowTrial-bold;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 0px;
  color: #fff;
  margin-bottom: 0px;
  background: linear-gradient(360deg, #ffffff 20%, #939598 50%, #ffffff 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 200ms ease;
  animation: ocean 2000ms ease alternate infinite;
  -webkit-text-stroke-width: thin;
  letter-spacing: 2px;
}
.footer-section .footer-inner p {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: #858182;
  margin-bottom: 20px;
  margin-top: 20px;
}

.footer-section .footer-inner ul li {
  margin-bottom: 20px;
}
.footer-section .footer-inner ul li a {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #808080;
  display: flex;
  align-items: center;
}
.footer-section .footer-inner ul li a img {
  margin-right: 12px;
}
.footer-section .footer-inner h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-inner .footer-blur-bg {
  position: absolute;
  right: 0px;
  top: 40px;
  filter: gray;
  -webkit-filter: grayscale(1);
  z-index: -1;
}
.footer-section .footer-rmd {
  text-align: center;
  padding: 40px 0px 40px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}
.footer-section .footer-rmd p {
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #808080;
  cursor: pointer;
}
/*media 1399px */
@media only screen and (max-width: 1399px) {
  .head-dec {
    padding: 10px 30px 30px;
  }
  .title-width {
    width: 60%;
  }
}
/* 1199 */
@media only screen and (max-width: 1199px) {
  .title-width {
    width: 100%;
  }
  .customer-support .support-dec {
    padding: 80px 0px 50px;
  }
  .customer-support .support-dec::before {
    content: "";
    height: 30%;
    bottom: 15px;
  }
  .customer-support .support-dec p {
    font-size: 16px;
  }
  .customer-support .bg-img {
    height: 100vh;
  }
  .ids-section::before {
    content: "";
    top: 0px;
  }
  .ids-section::after {
    content: "";
    top: 0px;
  }
}
/* 991 */
@media only screen and (max-width: 991px) {
  .head-web {
    display: none;
  }
  .head-mobile {
    display: block;
  }
  .header {
    background-image: url(..//img/headerbg.png);
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .head-dec {
    padding: 20px 30px 20px;
    background-color: transparent;
  }
  .head-dec .header-wrap {
    text-align: start;
  }
  .head-dec .header-wrap p {
    text-align: start;
    font-size: 12px;
  }
  .banner-section {
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    padding: 150px 0px 0px;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  .banner-section .banner-section-inner h1 {
    font-size: 54px;
  }
  .books-wrap-dec .books-wrap-dec-inner {
    width: 100%;
  }
  .customer-support {
    margin-top: -170px;
  }
  .customer-support .support-dec {
    padding: 60px 0px 0px;
  }
  .customer-support .support-dec::before {
    content: "";
    height: 20%;
    bottom: 5px;
    left: 30%;
  }
  .ids-section {
    padding-top: 30px;
  }
  .ids-inner .ids-wrap .ids-inner-wrap h3 {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .ids-inner .ids-wrap .chat-whatsapp {
    margin-top: 40px;
  }
  .bonus-section .bonus-inner {
    padding: 50px 0px;
    overflow: hidden;
  }
  .bonus-section .bonus-inner .bonus-bg-left {
    left: -90px;
    top: 0;
  }
  .bonus-section .bonus-inner .bonus-bg-right {
    bottom: 0px;
    top: auto;
    right: -90px;
  }
  .bonus-section .bonus-inner img {
    width: 50%;
  }
  .bonus-section {
    padding-top: 80px;
  }
  .slider-section {
    padding: 60px 0px 60px;
  }
  .customer-dec-wrap .heading-title {
    padding: 0px;
  }
  .customer-care-section .customer-wrap-main .customer-dec-wrap {
    background-size: cover;
    padding: 140px 50px 60px 50px;
    border-radius: 20px;
  }
  .customer-dec-wrap .heading-title img {
    left: 20%;
    width: 9%;
    bottom: -27%;
  }
  .footer-inner .footer-blur-bg {
    top: auto;
    bottom: 0;
  }
  .customer-support .support-dec h1 {
    font-size: 40px;
  }
}
/* 768 */
@media only screen and (max-width: 768px) {
  .banner-section::after {
    content: "";
    position: absolute;
    background-color: #00000061;
    width: 100%;
    height: 100%;
  }
  .books-wrap-section .books-wrap-inner {
    margin-top: -30px;
  }
  p {
    font-size: 16px;
    line-height: 26px;
  }
  .books-wrap-dec .books-wrap-dec-inner p {
    margin-bottom: 20px;
  }
  .banner-section .banner-section-inner h1 {
    font-size: 40px;
  }
  .customer-support {
    margin-top: 0px;
  }
  .customer-support .bg-img {
    height: auto;
    padding: 40px 20px;
    background-image: url(..//img/touchbg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .customer-support .bg-img .bg-inner {
    margin-top: 0px;
  }
  .heading-title h1,
  .head-dec .brand-logo h1 {
    font-size: 35px;
  }
  .head-dec {
    padding: 15px;
  }
  .heading-title p {
    font-size: 16px;
    line-height: 22px;
  }
  .available-sites {
    padding: 50px 0px 50px;
  }
  .books-wrap-section {
    padding: 0px 0px 60px 0px;
  }
  .customer-support .support-dec {
    padding: 0px;
  }

  .customer-support .support-dec::before {
    display: none;
  }
  .customer-support .support-dec h1 {
    font-size: 36px;
    margin-bottom: 0px;
  }
  .customer-support .support-dec p {
    line-height: 22px;
    margin-top: 6px;
    margin-bottom: 25px;
  }
  .ids-inner .heading-title p {
    margin-bottom: 30px;
  }
  .bonus-section .bonus-inner .bonus-dec h1 {
    margin-bottom: 20px;
  }
  .bonus-section .bonus-inner .bonus-dec p {
    font-size: 25px;
  }
  .bonus-section .bonus-inner {
    padding: 30px 0px 80px;
  }
  .slider-section .heading-title {
    margin-bottom: 20px;
  }
  .customer-dec-wrap .heading-title img {
    display: none;
  }
  .customer-care-section .customer-wrap-main .customer-dec-wrap {
    padding: 70px 30px 60px 30px;
  }
  .customer-dec-wrap .heading-title {
    text-align: center;
  }
  .dg-container nav svg {
    width: 60px;
    height: 60px;
    padding: 15px;
  }
}
/* 480 */
@media only screen and (max-width: 480px) {
  .books-wrap-dec {
    margin-top: -30px;
    padding-top: 30px;
  }
  .head-mobile ul {
    display: block;
  }
  .books-wrap-section .books-wrap-inner .books-bg-one::after {
    content: "";
    bottom: 10px;
  }
  .banner-section .banner-section-inner h1 {
    font-size: 26px;
  }
  .banner-section .banner-section-inner p {
    margin-bottom: 30px;
  }
  .banner-section {
    height: 55vh;
    padding: 0px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .banner-section .banner-section-inner {
    padding-bottom: 40px;
  }
  .heading-title h1,
  .head-dec .brand-logo h1 {
    font-size: 25px;
  }
  .heading-title p {
    font-size: 13px;
    line-height: 18px;
  }
  .play-btn a,
  .Click-btn a {
    font-size: 16px !important;
    line-height: 25px;
    padding: 15px 30px !important;
  }
  .Click-btn::after,
  .play-btn::after {
    content: "";
    top: -17px !important;
  }
  .ids-section {
    padding-top: 50px;
  }
  .ids-section::before,
  .ids-section::after {
    content: "";
    top: 40px;
    width: 100%;
  }
  .customer-dec-wrap .heading-title h3 {
    font-size: 18px;
    line-height: 24px;
  }
  .customer-dec-wrap .customer-btn button {
    padding: 7px 70px;
    font-size: 15px;
    line-height: 30px;
    top: 25px;
    left: -75px;
  }
  .customer-care-section .customer-wrap-main .customer-dec-wrap {
    padding: 70px 20px 60px 20px;
  }
  .heading-title p {
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 18px;
  }
  .footer-section {
    padding: 60px 0px 0px;
  }
  .footer-section .footer-inner .footer-list {
    width: 100%;
  }
  .footer-section .footer-inner h3 {
    text-align: center;
  }
  .dg-wrapper {
    width: 100%;
  }
  .dg-container nav svg {
    background: rgb(137 137 137 / 47%);
  }
  .bonus-section .bonus-inner .bonus-dec h1 {
    font-size: 30px;
  }
  .bonus-section .bonus-inner .bonus-bg-right {
    right: -50px;
  }
  .bonus-section .bonus-inner .bonus-bg-left {
    left: -40px;
    top: 70px;
    width: 40%;
  }
  .dg-container {
    width: 90%;
    margin: auto;
  }
  .footer-inner .footer-blur-bg {
    width: 80%;
  }
  .slider-section .heading-title {
    margin-bottom: 0px;
  }
  .slider-section .heading-title p {
    margin-bottom: 20px;
  }
  .customer-support .bg-img {
    padding: 40px 15px;
  }
  .customer-support .support-dec h1 {
    font-size: 30px;
  }
  .customer-support .support-dec p {
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 14px;
  }
  .books-wrap-section .heading-title h1 {
    font-size: 23px;
  }
}
/* 375 */
@media only screen and (max-width: 375px) {
  .banner-section .banner-section-inner h1 {
    font-size: 24px;
  }
}
